<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title> Success on Suggesting </title>
	<link rel="stylesheet" th:href=@{css/styling.css}>
	
	<link rel="shortcut icon" type="image/x-icon" th:href=@{img/success-icon.png}>
</head>

<body>
	<section class="success">
        <img th:src=@{img/success-icon.png} class="image-success" alt="Success">
        <br>
        <h1> Your suggestion was successfully saved!! </h1> <br>
		
		<p>
			Do you have more movies to suggest? Feel free to do it, we love watching all of them. <br>
			See you, mate. <br>
		</p><br>
		
        <div class="btn">
            <a th:href="@{/}" class="btn-success"> Back </a>
        </div>
    </section>
</body>
</html>